<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <form>
        <input type="text" name="city">
        <button>Search</button>
    </form>
      
   
    
    
    
   
    <h1>Weather</h1>
    <p class="name">{{ name }}</p>
    <p class="temperature">{{ temperature }}</p>
    <p>{{ temperature_feelslike }}</p>
    <p>{{ precipitation }}</p>
    <p>{{ wind }}</p>
    <p>{{ cloudiness }}</p>
    <p>{{ localtime }}</p>
    <p>{{ humidity }}</p>
    <p>{{ population }}</p>
</body>
</html>
